@import '~Styles/theme';
@import '~Styles/animations';

.index-container {
  background: transparent linear-gradient(180deg, $secondary-color 0%, $primary-color 100%) 0% 0% no-repeat padding-box;
  height: 1080px;
  position: relative;

  img {
    position: absolute;
    opacity: 0.4;
    height: 14px;
  }
  

  h1 {
    text-align: center;
    font-size: 100px;
    position: relative;
    top: 250px;
    color: white;
    font-weight: 100;
    font-family: $font-writer;
    letter-spacing: 8px;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto;
    width: fit-content;
    animation: 
      typing 3.5s steps(30, end);
  
    span {
      font-family: $font-writer;
      font-weight: 900;
    }

    .underline {
      animation: blink 1s infinite;
    }
  }

  ::selection{
    background: $secondary-color;
  }
}